body {
    padding: 0;
    margin: 0;
    background-image: url("../jpg/BG.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.ui {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;

    .debug {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        p {
            position: absolute;
            bottom: 0;
            left: 0;
            color: #ffffff;
        }
    }
    .ChangeShape {
        position: absolute;
        right: 7vh;
        bottom: 25vh;
        width: 10vh;
        height: 10vh;
        transform: rotate(45deg);
        pointer-events: auto;
        transition: 1s cubic-bezier(0.31, 0, 0.24, 1);
        // filter: drop-shadow(0 0 2vh rgba(0, 0, 0, 0.3));
    }
    .ChangeShape.disable {
        right: -25vh;
        transform: rotate(270deg);
    }
    .Send {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 5vh;
        width: 41.25vh;
        height: 10vh;
        pointer-events: auto;
        transition: 1s cubic-bezier(0.31, 0, 0.24, 1);
        // filter: drop-shadow(0 0 2vh rgba(0, 0, 0, 0.3));
    }
    .Send.disable {
        bottom: -15vh;
    }

    .progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        height: 10px;
        width: 50%;
        border: 10px solid #f4a261;
        border-radius: 15px;
        .color {
            position: absolute;
            background-color: #ffffff;
            width: 0%;
            height: 10px;
            border-radius: 15px;
        }
    }
}
.mouse_div {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .mouse_cube {
        position: fixed;
        width: 10vh;
        height: 10vh;
        background-color: rgba(255, 255, 0, 0.25);
        border-radius: 50%;
        // outline: rgb(255, 255, 0) solid 15px;
    }
    .cut_dot {
        position: fixed;
        width: 0.5vh;
        height: 0.5vh;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        // outline: rgb(255, 255, 0) solid 15px;
    }
}
.wapper {
    .hero {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        canvas {
            position: absolute;
            width: max-content;
            height: max-content;
            filter: drop-shadow(0 0 10vh rgba(18, 22, 26, 0.548));
        }
    }
}
.BG {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    pointer-events: none;
    .NewShape {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 50vh;
        height: 50vh;
        pointer-events: auto;
        transition: 1s cubic-bezier(0.31, 0, 0.24, 1);
        // filter: drop-shadow(0 0 2vh rgba(0, 0, 0, 0.3));
    }
    .NewShape.disable {
        transform: scale(0);
    }
}
